In [1]:
import base64
import requests
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from ohmysportsfeedspy import MySportsFeeds

from config import api_key
from config import g_key

msf = MySportsFeeds(version="2.0")
msf.authenticate(api_key, "MYSPORTSFEEDS")

In [2]:
output = msf.msf_get_data(league='nfl',season='2019-2020-regular',feed='seasonal_player_stats',format='json')
player_list = output['playerStatsTotals']
player_list[0]

{'player': {'id': 6826,
  'firstName': 'Ameer',
  'lastName': 'Abdullah',
  'primaryPosition': 'RB',
  'jerseyNumber': 31,
  'currentTeam': {'id': 63, 'abbreviation': 'MIN'},
  'currentRosterStatus': 'ROSTER',
  'currentInjury': None,
  'height': '5\'9"',
  'weight': 203,
  'birthDate': '1993-06-13',
  'age': 26,
  'birthCity': 'Mobile, AL',
  'birthCountry': 'USA',
  'rookie': False,
  'highSchool': None,
  'college': 'Nebraska',
  'handedness': None,
  'officialImageSrc': 'http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/ABD647726.png',
  'socialMediaAccounts': []},
 'team': {'id': 63, 'abbreviation': 'MIN'},
 'stats': {'gamesPlayed': 16,
  'passing': {'passAttempts': 0,
   'passCompletions': 0,
   'passPct': 0.0,
   'passYards': 0,
   'passAvg': 0.0,
   'passYardsPerAtt': 0.0,
   'passTD': 0,
   'passTDPct': 0.0,
   'passInt': 0,
   'passIntPct': 0.0,
   'passLng': 0,
   'pass20Plus': 0,
   'pass40Plus': 0,
   'passSacks': 0,
   'passSackY': 0,
   'qbRating': 0.0},
  'rushing': {'rushAttempts': 23,
   'rushYards': 115,
   'rushAverage': 5.0,
   'rushTD': 0,
   'rushLng': 66,
   'rush1stDowns': 4,
   'rush1stDownsPct': 17.4,
   'rush20Plus': 0,
   'rush40Plus': 0,
   'rushFumbles': 0},
  'receiving': {'targets': 21,
   'receptions': 15,
   'recYards': 88,
   'recAverage': 5.9,
   'recTD': 1,
   'recLng': 49,
   'rec1stDowns': 5,
   'rec20Plus': 0,
   'rec40Plus': 0,
   'recFumbles': 0},
  'tackles': {'tackleSolo': 6,
   'tackleTotal': 7,
   'tackleAst': 1,
   'sacks': 0.0,
   'sackYds': 0,
   'tacklesForLoss': 0},
  'interceptions': {'interceptions': 0,
   'intTD': 0,
   'intYds': 0,
   'intAverage': 0.0,
   'intLng': 0,
   'passesDefended': 0,
   'stuffs': 0,
   'stuffYds': 0,
   'safeties': 0,
   'kB': 0},
  'fumbles': {'fumbles': 1,
   'fumLost': 1,
   'fumForced': 0,
   'fumOwnRec': 0,
   'fumOppRec': 0,
   'fumRecYds': 0,
   'fumTotalRec': 0,
   'fumTD': 0},
  'kickoffReturns': {'krRet': 13,
   'krYds': 325,
   'krAvg': 25.0,
   'krLng': 237,
   'krTD': 0,
   'kr20Plus': 10,
   'kr40Plus': 0,
   'krFC': 0,
   'krFum': 0},
  'puntReturns': {'prRet': 0,
   'prYds': 0,
   'prAvg': 0.0,
   'prLng': 0,
   'prTD': 0,
   'pr20Plus': 0,
   'pr40Plus': 0,
   'prFC': 0,
   'prFum': 0},
  'miscellaneous': {'gamesStarted': 0},
  'twoPointAttempts': {'twoPtAtt': 0,
   'twoPtMade': 0,
   'twoPtPassAtt': 0,
   'twoPtPassMade': 0,
   'twoPtPassRec': 0,
   'twoPtRushAtt': 0,
   'twoPtRushMade': 0}}}

In [5]:
# rb_name = []
# for i in range(0,  len(player_list)):
#     if player_list[i]['player']['primaryPosition'] == 'RB':
#         name = player_list[i]['player']['firstName'] + " " + player_list[i]['player']['lastName']
#         rb_name.append(name)
     
# rb_name

num_records = len(player_list)

stats_df = pd.DataFrame(columns=['Name', 'Position', 'Team', 'Age', 'birthCity', 'College',
                                   'passYards', 'passYPA', 'passTD', 'passInt', 'qbRating',
                                   'rushAttempts', 'rushYards', 'rushAverage', 'rushTD', 
                                   'Targets', 'Receptions', 'recYards', 'recAverage', 'recTD',
                                   'Tackles', 'Sacks', 'TFL', 'Interceptions', 'intTD', 'passesDefended', 'Safeties',
                                   'fumblesForced', 'fumbleTD'], index=range(0, num_records))
stats_df

,Name,Position,Team,Age,birthCity,College,passYards,passYPA,passTD,passInt,...,recTD,Tackles,Sacks,TFL,Interceptions,intTD,passesDefended,Safeties,fumblesForced,fumbleTD
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for index, row in stats_df.iterrows():
    
    try:
        stats_df.loc[index, 'Name'] = player_list[index]['player']['firstName'] + " " + player_list[index]['player']['lastName']
        stats_df.loc[index, 'Position'] = player_list[index]['player']['primaryPosition']
        stats_df.loc[index, 'Team'] = player_list[index]['team']['abbreviation']
        stats_df.loc[index, 'Age'] = player_list[index]['player']['age']
        stats_df.loc[index, 'birthCity'] = player_list[index]['player']['birthCity']
        stats_df.loc[index, 'College'] = player_list[index]['player']['college']
        stats_df.loc[index, 'passYards'] = player_list[index]['stats']['passing']['passYards']
        stats_df.loc[index, 'passYPA'] = player_list[index]['stats']['passing']['passYardsPerAtt']
        stats_df.loc[index, 'passTD'] = player_list[index]['stats']['passing']['passTD']
        stats_df.loc[index, 'passInt'] = player_list[index]['stats']['passing']['passInt']
        stats_df.loc[index, 'qbRating'] = player_list[index]['stats']['passing']['qbRating']
        stats_df.loc[index, 'rushAttempts'] = player_list[index]['stats']['rushing']['rushAttempts']
        stats_df.loc[index, 'rushYards'] = player_list[index]['stats']['rushing']['rushYards']
        stats_df.loc[index, 'rushAverage'] = player_list[index]['stats']['rushing']['rushAverage']
        stats_df.loc[index, 'rushTD'] = player_list[index]['stats']['rushing']['rushTD']
        stats_df.loc[index, 'Targets'] = player_list[index]['stats']['receiving']['targets']
        stats_df.loc[index, 'Receptions'] = player_list[index]['stats']['receiving']['receptions']
        stats_df.loc[index, 'recYards'] = player_list[index]['stats']['receiving']['recYards']
        stats_df.loc[index, 'recAverage'] = player_list[index]['stats']['receiving']['recAverage']
        stats_df.loc[index, 'recTD'] = player_list[index]['stats']['receiving']['recTD']
        stats_df.loc[index, 'Tackles'] = player_list[index]['stats']['tackles']['tackleTotal']
        stats_df.loc[index, 'Sacks'] = player_list[index]['stats']['tackles']['sacks']
        stats_df.loc[index, 'TFL'] = player_list[index]['stats']['tackles']['tacklesForLoss']
        stats_df.loc[index, 'Interceptions'] = player_list[index]['stats']['interceptions']['interceptions']
        stats_df.loc[index, 'intTD'] = player_list[index]['stats']['interceptions']['intTD']
        stats_df.loc[index, 'passesDefended'] = player_list[index]['stats']['interceptions']['passesDefended']
        stats_df.loc[index, 'Safeties'] = player_list[index]['stats']['interceptions']['safeties']
        stats_df.loc[index, 'fumblesForced'] = player_list[index]['stats']['fumbles']['fumForced']
        stats_df.loc[index, 'fumbleTD'] = player_list[index]['stats']['fumbles']['fumTD']
    
    except:
        pass
        
stats_df

,Name,Position,Team,Age,birthCity,College,passYards,passYPA,passTD,passInt,...,recTD,Tackles,Sacks,TFL,Interceptions,intTD,passesDefended,Safeties,fumblesForced,fumbleTD
0,Ameer Abdullah,RB,MIN,26,"Mobile, AL",Nebraska,0,0,0,0,...,1,7,0,0,0,0,0,0,0,0
1,Oday Aboushi,G,DET,28,"Brooklyn, NY",Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Johnathan Abram,FS,OAK,23,None,Mississippi State,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sam Acho,LB,TB,31,"Dallas, TX",Texas,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andrew Adams,FS,TB,27,"Fayetteville, GA",UConn,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4715,Dave Zastudil,P,ARI,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4716,Elijah Zeise,LB,LAC,24,None,Pittsburgh,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4717,Isaac Zico,WR,ARI,23,None,Purdue,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4718,Frank Zombo,LB,KC,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4719,Jeremy Zuttah,C,SF,33,"Edison, NJ",None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
qb_df = stats_df[stats_df['Position'] == 'QB']
qb_df = qb_df.sort_values("passYards", ascending=False)
qb_df

,Name,Position,Team,Age,birthCity,College,passYards,passYPA,passTD,passInt,...,recTD,Tackles,Sacks,TFL,Interceptions,intTD,passesDefended,Safeties,fumblesForced,fumbleTD
2102,Jameis Winston,QB,TB,26,"Bessemer, AL",Florida State,5109,8.2,33,30,...,0,1,0,0,0,0,0,0,0,0
1538,Dak Prescott,QB,DAL,26,"Sulphur, LA",Mississippi St,4901,8.2,30,11,...,0,1,0,0,0,0,0,0,0,0
693,Jared Goff,QB,LA,25,"San Rafael, CA",California,4639,7.4,22,16,...,0,0,0,0,0,0,0,0,0,0
1606,Philip Rivers,QB,LAC,38,"Decatur, AL",North Carolina State,4615,7.8,23,20,...,0,0,0,0,0,0,0,0,0,0
1644,Matt Ryan,QB,ATL,34,"Exton, PA",Boston College,4466,7.2,26,14,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,Danny Etling,QB,NE,25,"Terre Haute, IN",LSU,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2791,Eric Dungey,QB,NYG,None,None,Syracuse,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2761,Jacob Dolegala,QB,CIN,23,None,Central Connecticut State,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2636,Connor Cook,QB,DET,27,"Hinckley, OH",Michigan State,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4676,Logan Woodside,QB,TEN,25,None,Toledo,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0